In [1]:
import pandas as pd
up_gene = pd.read_csv("/mnt/Storage2/home/chenqianqian/projects/chrombert/chrombert_tools/test/12.find_driver_factor_in_cell_state_transition/output_hg38_1kb/exp/dataset/up.csv")

up_gene

,chrom,start,end,build_region_index,label,gene_id,tss,log1p_tpm_1,log1p_tpm_2
0,chr15,34795000,34796000,635265,6.791756,ENSG00000159251,34795589,0.000000,6.791756
1,chrX,2691000,2692000,2061274,5.881318,ENSG00000002586,2691187,0.000000,5.881318
2,chr4,176277000,176278000,1472376,5.814651,ENSG00000164122,176277571,0.000000,5.814651
3,chr7,45921000,45922000,1782464,5.702683,ENSG00000146674,45921874,1.072190,6.774873
4,chr11,111923000,111924000,366452,5.512428,ENSG00000109846,111923722,1.600718,7.113146
...,...,...,...,...,...,...,...,...,...
863,chr9,38424000,38425000,1999692,1.007665,ENSG00000137142,38424454,0.000000,1.007665
864,chrX,17861000,17862000,2070461,1.007665,ENSG00000131831,17861337,0.000000,1.007665
865,chrX,12975000,12976000,2067119,1.006973,ENSG00000205542,12975110,2.966633,3.973606
866,chr1,1399000,1400000,670,1.005922,ENSG00000221978,1399335,2.329200,3.335122
867,chr20,1894000,1895000,1100167,1.000592,ENSG00000198053,1894167,2.630966,3.631558

In [3]:
all_gene = pd.read_csv("/mnt/Storage2/home/chenqianqian/projects/chrombert/chrombert_tools/ChromBERT-tools/examples/data/fibroblast_expression.csv")
all_gene

       chrom        tss          gene_id         tpm
0      chr19   58353492  ENSG00000121410   12.774133
1      chr19   58347718  ENSG00000268895    2.939181
2      chr10   50885675  ENSG00000148584    0.000000
3      chr12    9116229  ENSG00000175899    0.226091
4      chr12    9065163  ENSG00000245105    0.226091
...      ...        ...              ...         ...
19645   chr1   52842511  ENSG00000203995    1.243500
19646   chr1   52726453  ENSG00000162378   15.600269
19647   chr7  143381295  ENSG00000159840  294.031155
19648  chr17    4143030  ENSG00000074755    7.687089
19649   chr1   77683419  ENSG00000036549   38.096309

[19650 rows x 4 columns]

In [7]:
filter_gene = all_gene[~all_gene['gene_id'] .isin (up_gene['gene_id'].tolist())].sample(n=5000-868)
filter_gene

       chrom        tss          gene_id         tpm
15275  chr19   51211110  ENSG00000268849    0.000000
7833   chr20   63448051  ENSG00000226390    0.000000
18719  chr20   45631284  ENSG00000180205    0.000000
18002   chr2   54256229  ENSG00000178021    0.000000
495     chr6  151239967  ENSG00000131016  109.654064
...      ...        ...              ...         ...
4735    chr4  100880126  ENSG00000164035    0.113045
6089    chr3   49723973  ENSG00000173540   15.374178
14626  chr15   55197049  ENSG00000137876  154.533098
786    chr16   71809201  ENSG00000166747   36.400627
12270  chr15   99007792  ENSG00000183571    0.000000

[4132 rows x 4 columns]

In [8]:
up_gene2 = all_gene[all_gene['gene_id'] .isin (up_gene['gene_id'].tolist())]
up_gene2

       chrom        tss          gene_id        tpm
7      chr22   42721298  ENSG00000128274   2.713090
40     chr17   68955392  ENSG00000141338   1.582636
55     chr17   50634777  ENSG00000108846   6.443589
94      chr3  100993515  ENSG00000154175  88.966751
119    chr17    7217125  ENSG00000072778  41.261581
...      ...        ...              ...        ...
19053  chr16    2830253  ENSG00000162078   0.000000
19156  chr19   44165073  ENSG00000167380   5.426180
19299  chr16   88382959  ENSG00000225614   0.791318
19358  chr19    2867335  ENSG00000172000   0.000000
19405  chr19   52336243  ENSG00000167554   0.452182

[868 rows x 4 columns]

In [9]:
all_filter_gene = pd.concat([up_gene2,filter_gene])
all_filter_gene

       chrom        tss          gene_id         tpm
7      chr22   42721298  ENSG00000128274    2.713090
40     chr17   68955392  ENSG00000141338    1.582636
55     chr17   50634777  ENSG00000108846    6.443589
94      chr3  100993515  ENSG00000154175   88.966751
119    chr17    7217125  ENSG00000072778   41.261581
...      ...        ...              ...         ...
4735    chr4  100880126  ENSG00000164035    0.113045
6089    chr3   49723973  ENSG00000173540   15.374178
14626  chr15   55197049  ENSG00000137876  154.533098
786    chr16   71809201  ENSG00000166747   36.400627
12270  chr15   99007792  ENSG00000183571    0.000000

[5000 rows x 4 columns]

In [11]:
all_filter_gene[['gene_id','tpm']].to_csv("/mnt/Storage2/home/chenqianqian/projects/chrombert/chrombert_tools/ChromBERT-tools/examples/data/fibroblast_expression_sample5000.csv",index=False)

In [13]:
myoblast = pd.read_csv("/mnt/Storage2/home/chenqianqian/projects/chrombert/chrombert_tools/ChromBERT-tools/examples/data/myoblast_expression.csv")
myoblast

       chrom        tss          gene_id         tpm
0      chr19   58353492  ENSG00000121410   22.236894
1      chr19   58347718  ENSG00000268895    9.317134
2      chr10   50885675  ENSG00000148584    0.000000
3      chr12    9116229  ENSG00000175899    0.993828
4      chr12    9065163  ENSG00000245105    0.124228
...      ...        ...              ...         ...
19645   chr1   52842511  ENSG00000203995    0.124228
19646   chr1   52726453  ENSG00000162378   17.640441
19647   chr7  143381295  ENSG00000159840  288.085795
19648  chr17    4143030  ENSG00000074755    9.068677
19649   chr1   77683419  ENSG00000036549   17.019299

[19650 rows x 4 columns]

In [14]:
myoblast_filter = myoblast[myoblast['gene_id'].isin(all_filter_gene.gene_id.tolist())]
myoblast_filter

       chrom        tss          gene_id        tpm
0      chr19   58353492  ENSG00000121410  22.236894
3      chr12    9116229  ENSG00000175899   0.993828
4      chr12    9065163  ENSG00000245105   0.124228
7      chr22   42721298  ENSG00000128274  11.553247
8       chr3  138132390  ENSG00000118017   0.000000
...      ...        ...              ...        ...
19613   chr6   28107689  ENSG00000196812   0.496914
19615  chr19   58118427  ENSG00000121413   7.577936
19622   chr6   28267058  ENSG00000197062   5.217595
19635  chr17   15999717  ENSG00000214941  21.864209
19643   chrX   57592011  ENSG00000198455   0.248457

[5000 rows x 4 columns]

In [15]:
myoblast_filter.to_csv("/mnt/Storage2/home/chenqianqian/projects/chrombert/chrombert_tools/ChromBERT-tools/examples/data/myoblast_expression_sample5000.csv")